.listTitle {
	text-align: center;
	background-color: #eee;
	font-size: 2em;
}

.list {
	background-color: #333;
	width: 100%;
	display: inline-block;
}

.listItem {
	margin: 0 auto;
	display: block;
}

.listItem {
	text-align:center;
	font-size: 1.75em;
}

.oddListItem {
	background-color: #eee;
}

.evenListItem {
	background-color: #bbb;
}

a:link {
	color: #111;
	text-decoration: none;
}
